
<!-- Always shows a header, even in smaller screens. -->
<!-- token muss mitgesendet werden, damit nur der Sender und Receiver die Nachricht lesen können  -->


{% extends "base.html" %}
{% block content %}

    <form action="/chat/" method="post">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {% comment %} input braucht namen um in views.py darauf zuzugreifen {% endcomment %}
            <input class="mdl-textfield__input" name="textmessage" type="text" id="sample3">
            <label class="mdl-textfield__label" for="sample3">Text...</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            send
        </button>
    </form>

    {% if request.user.is_authenticated %}
    <div>
        {% for message in messages %}
        <div>
            <span class="time">[{{message.created_at}}]</span> {{message.author.first_name}}: <i>{{message.text}}</i>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <h1>Not logged in</h1>
    <h3>Please click <a href="/login">here</a> to login and continue</h3>

    {% endif %}

{% endblock %}