<!-- Always shows a header, even in smaller screens. -->
<!-- token muss mitgesendet werden, damit nur der Sender und Receiver die Nachricht lesen können  -->


{% extends "base.html" %}
{% block content %}

<script>
    async function sendMessage() {
        let fd = new FormData();
        let token = '{{csrf_token}}';
        addFrontendMessage(messagetext.value);
        let backendMessage = messagetext.value;
        messagetext.value = "";
        fd.append("textmessage", messagetext.value);
        fd.append("csrfmiddlewaretoken", token)

        try {
            await fetch('/chat/', {
                body: fd,
                method: "POST"
            })
            setTimeout(()=> {
                document.getElementById("deleteMessage").remove();
                addBackendMessage(backendMessage);                
            }, 1000)           
            
            console.log("succesfully sended message", fd)
        } catch (e) {
            console.error("An error occured ", e)
        }
    }

    function addFrontendMessage(messagetext) {

        let date = getDateInFormat();
        messageContainer.innerHTML += `
        <div class="message row-reverse" id="deleteMessage">
            <div class="messageContainerImg"><img src="../static/img/avatarSofia.png" alt=""></div>
            <div class="messageContainerMessage bubble-reverse">
                <div class="messageUsername">{{request.user.first_name}}</div>
                <div class="messageMessageTime">
                    <div class="messageMessage">${messagetext}</div>
                    <div class="messageTime">
                        ${date}
                        <div class="sendIcon"><img src="../static/img/check.svg" alt=""></div>
                    </div>
                </div>
            </div>            
        </div>
        `
    }


    function addBackendMessage(messagetext) {

        let date = getDateInFormat();
        messageContainer.innerHTML += `
        <div class="message row-reverse">
            <div class="messageContainerImg"><img src="../static/img/avatarSofia.png" alt=""></div>
            <div class="messageContainerMessage bubble-reverse">
                <div class="messageUsername">{{request.user.first_name}}</div>
                <div class="messageMessageTime">
                    <div class="messageMessage">${messagetext}</div>
                    <div class="messageTime">
                        ${date}
                        <div class="sendIcon"><img src="../static/img/doublecheck.svg" alt=""></div>
                    </div>
                </div>
            </div>
            
        </div>
        `
    }


    function getDateInFormat() {
        let date = new Date();
        let month = date.getMonth();
        let day = date.getDate();
        let year = date.getFullYear();
        let hour = date.getHours()
        let minutes = date.getMinutes()
        let newDate = hour + ":" + minutes
        return newDate
    }


    function getMonthName(month) {
        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"];

        return monthNames[month]
    }
</script>

<div id="mainContainer">
    <div id="mainContainerLeft">
        <div class="mainContainerLeftHeader">
            <img class="headerimg" src="../static/img/avatarSofia.png" alt="">
            Welcome {{request.user.first_name}}</div>
        {% for user in userData %}
        <div class="userList">
            <div mat-card-avatar class="example-header-image"><img src="../static/img/avatarFrederick.png" alt=""></div>
            <mat-card-title class="userListUsername">{{user.username}}</mat-card-title>
        </div>
        {% endfor %}
    </div>
    <div id="mainContainerRight">
        <div class="mainContainerRightHeader">Hello</div>
        {% if request.user.is_authenticated %}
        <div id="messageContainer">
            {% for message in messages %}

            {% if request.user.id == message.author.id %}

            <div class="message row-reverse">
                <div class="messageContainerImg"><img src="../static/img/avatarSofia.png" alt=""></div>
                <div class="messageContainerMessage  bubble-reverse">
                    <div class="messageUsername">{{message.author.first_name}}</div>
                    <div class="messageMessageTime">
                        <div class="messageMessage">{{message.text}}</div>
                        <div class="messageTime">{{message.timestamp}} 
                            <div class="sendIcon"><img src="../static/img/doublecheck.svg" alt=""></div>
                        </div>
                    </div>
                </div>
                
            </div>

            {% else %}
            
            <div class="message">
                <div class="messageContainerImg"><img src="../static/img/avatarSofia.png" alt=""></div>
                <div class="messageContainerMessage">
                    <div class="messageUsername">{{message.author.first_name}}</div>
                    <div class="messageMessageTime">
                        <div class="messageMessage">{{message.text}}</div>
                        <div class="messageTime">{{message.timestamp}}</div>
                    </div>
                </div>
            </div>

            {% endif %}

            {% endfor %}
        </div>

        {% else %}
        <h1>Not logged in</h1>
        <h3>Please click <a href="/login">here</a> to login and continue</h3>

        {% endif %}

        <form onsubmit="sendMessage(); return false;" method="post" id="inputForm">
            {% csrf_token %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {% comment %} input braucht namen um in views.py darauf zuzugreifen {% endcomment %}
                <input class="mdl-textfield__input" name="textmessage" type="text" id="messagetext">
                <label class="mdl-textfield__label" for="sample3">Text...</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                send
            </button>
        </form>
    </div>
</div>



{% endblock %}