.mdl-layout__header{
    background-color: #316879;
    height: 30vh;
    flex-direction: row;
    justify-content: center;
}

.mdl-layout-title{
    margin-top: 25px;
    font-size: 36px;
}

main{
    position: absolute !important;
    top: 100px;
    left: 10%;
    right: 10%;
    bottom: 50px;
    display: flex;
    z-index: 10000 !important;
    width: 80%;
    display: flex;
    border-radius: 30px;
}

.page-content{
    width: 100%;
    height: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.397);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
    border-radius: 30px;
}

.mdl-textfield__label {
    color: rgba(0, 0, 0, 0.719)
}


/* ChatContainer */
#mainContainer{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 2px 2px white;
    display: flex;
}

#mainContainerLeft{
    width: calc(35% - 50px);
    height: calc(100% - 50px);
    padding: 25px
}

#mainContainerRight{
    width: calc(65% - 50px);
    height: calc(100% - 50px);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#f47a60;
}

#inputForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.mdl-button{
    background-color: #316879 !important;
}

.mdl-textfield{
    flex: 1
}

.time {
    color: blue
}

.grey{
    color: grey;
}

.color1{
    background-color:#f47a60 !important;
}