body{
    background-color: #ced7d8;
}

.mdl-layout__header{
    background-color: #316879;
    height: 30vh;
    flex-direction: row;
    justify-content: center;
}

.mdl-layout-title{
    margin-top: 25px;
    font-size: 36px;
}

main{
    position: absolute !important;
    top: 100px;
    left: 10%;
    right: 10%;
    bottom: 50px;
    display: flex;
    z-index: 10000 !important;
    width: 80%;
    display: flex;
    border-radius: 30px;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.onlyWhenResponsiv{
    display: none;
    align-items: center;
    height: 100%;
    width: 80%;
    line-height: 130%;
    text-align: center;
}




.page-content{
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    width: calc(100% - 80px);
    height: calc(100% - 100px);
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10%;
    justify-content: flex-start;
    background-color: white;
    border-radius: 30px;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.397);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
    border-radius: 30px;
}

.mdl-textfield__label {
    color: rgba(0, 0, 0, 0.719)
}

.logoutText{
    font-size: 24px;
    font-weight: 500;
}

@media(max-width: 1000px){

    #mainContainer{
        flex-direction: column;
    }

    #mainContainerLeft{
        width: 100% !important;
        height: 70px !important;
    }    

    #mainContainerRight{
        width: 100% !important;
    }

    .userList{
        display: none !important;
    }

    #messageContainer{
        
        border-left: unset !important;
    }

    .mainContainerRightHeader{
        
      display: none !important;
    }

    #inputForm{
        border-left: unset !important;
    }

    .logoutContainer{
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center !important;
    }
}

.logoutContainer h2{
    text-align: center;
}


/* ChatContainer */
#mainContainer{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 2px 2px white;
    display: flex;
}

#mainContainerLeft{
    width: 35%;
    height: 100%;
    background-color:  white;
    display: flex;
    flex-direction: column;
    background-color: #ced7d863;
    /* background-color: #f47b60a2; */
}

.mainContainerLeftHeader{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    background-color: #316879;
    color: white;
    font-weight: 600;
    padding: 0 16px;
    font-size: 24px;
    height: 80px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.headerimg{
    width: 40px;
    height: 40px;
}

.userMenu{
    position: relative;
}

.mainContainerLeftHeader .mdl-button{
    background-color: unset !important;
}

.mainContainerLeftHeader .mdl-button:hover{
    background-color: #31687957 !important;
}

.logoutBtn {
    all: unset;
    font-weight: 600;
}

.logoutForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userList{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    padding: 15px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.userHeadline{
    font-size: 26px;
    padding: 30px 25px !important;
    background-color: #316879a8 !important;
    color: white;
}

.userListUsername{
    font-size: 26px;
    color: black;
}

#mainContainerRight{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:white;
    overflow: auto;
    position: relative;
    overflow: hidden;
}

.mainContainerRightHeader{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    background-color: #316879;
    border-left: 3px inset #ced7d8;
    font-weight: 600;
    font-size: 24px;
    min-height: 80px;
    height: 80px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    color: white;
    
}

#messageContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 25px;
    width: calc(100% - 50px);
    flex: 1;
    overflow: auto;
    background-color: #f47b603a;
    border-left: 3px inset #ced7d8;
}


.message{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
}

.row-reverse{    
    flex-direction: row-reverse;
}

.messageContainerImg img{
    width: 40px;
    height: 40px;
}

.messageContainerMessage{
    background-color: #316879;
    border-radius: 15px 15px 15px 0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bubble-reverse{
    border-radius: 15px 15px 0 15px !important;
}

.messageUsername{
    font-size: 20px;
    font-weight: 700;
    color: #7fe7dc;
}

.messageMessageTime{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;
    color: #ced7d8
}

.messageMessage{
    font-size: 20px;
    font-weight: 500;
    color: white;
    word-break: break-all;
}

.messageTime{
    display: flex;
    align-items: end;
    gap: 8px;
}

.sendIcon{
    fill:#ced7d8
}

#inputForm{
    border-left: 3px inset #ced7d8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #ced7d8;
    height: 80px;
}

#messagetext{
    height: 36px;
    background-color: white;
    border-radius: 8px;
    padding-left: 8px;
}

.mylabel{
    top: 36% !important
}

.mdl-button{
    background-color: #316879 !important;
    margin-right: 12px;
}

.mdl-textfield{
    flex: 1;
    margin-left: 12px;
}

.grey{
    color: grey;
}

.red{
    color: red;
}

.mt-16{
    margin-top: 16px;
}
.color1{
    background-color:#f47a60 !important;
}







/* Responsiv Design */

@media (max-width: 600px) {

    main{
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: unset;
        background-color: unset;
        
    }

    .container{
        background-color: unset !important;
        position: absolute !important;
        top: 50%;
        transform: translateY(-10%);
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
    }

    .container h3{
        display: none !important;
    }

    .toSignUp{
       transform: translateY(-30px);
    }

    .onlyWhenResponsiv{
        font-size: 32px !important;
        display: flex;
    }

    .formcontainer{
        background-color: white;
    }
  }