<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<style>
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formcontainer{
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 2px solid rgba(0, 0, 0, 0.397);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
        border-radius: 30px;
    }

    .mdl-textfield__label{
        color:rgba(0, 0, 0, 0.719)
    }
</style>



<div class="container">
    <h3>Hey, welcome to this Django_chat_app. Please login to use stay connected with your comrades</h1>
    <form action="" method="post" class="formcontainer">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1" name="loginName">
            <label class="mdl-textfield__label" for="sample1" >Login Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1" name="loginPassword">
            <label class="mdl-textfield__label" for="sample1" >Password</label>
        </div>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            send
        </button>
    </form>
</div>