

{% extends "base.html" %}
{% block content %}

<script>

    function toggleButton(){
        
        if(mypassword.value && myinput.value){
            sendButton.disabled = false
        } else {
            sendButton.disabled = true
        }
        
    }
</script>


<div class="container">
    <h3>Welcome to this One-Room-Chat-App</h1>

    

    <form action="/login/" method="POST" class="formcontainer" >
        {% csrf_token %}

        <!-- hidden input to use redirection, set in indexlogin -->
        <input type="hidden" name="redirect" value="{{ redirect }}">

        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="myinput" name="loginName" onkeyup="toggleButton()">
            <label class="mdl-textfield__label" for="sample2" >Username</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="mypassword" name="loginPassword" onkeyup="toggleButton()">
            <label class="mdl-textfield__label" for="sample1" >Password</label>
        </div>

        <button id="sendButton" disabled class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Sign In
        </button>
        {% if wrongPassword %}
        <p class="red mt-16">Username or password not correct</p>
        {% endif %}
    </form>
    <div class="toSignUp">
        <a href="/register">Create</a> a new account to sign in.
    </div>
    
</div>

{% endblock %}
