{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="container">
    
{% if accountAllreadyExists %}
    <div>
        Accountname with this Mail allready exists
    </div>
{% endif %}

    <form action="/register/" method="POST" class="formcontainer" >
        {% csrf_token %}

        <!-- hidden input to use redirection, set in indexlogin -->
        <input type="hidden" name="redirect" value="{{ redirect }}">

        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="regName" name="registerName" required>
            <label class="mdl-textfield__label" for="sample1" >Username</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="firstname" name="Firstname" required>
            <label class="mdl-textfield__label" for="sample1" >Firstname</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="lastname" name="Lastname" required>
            <label class="mdl-textfield__label" for="sample1" >Lastname</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="email" id="mail" name="registerEmail" required>
            <label class="mdl-textfield__label" for="sample1" >Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="password" name="registerPassword" required>
            <label class="mdl-textfield__label" for="sample1" >Password</label>
        </div>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Sign Up
        </button>
    </form>
    <div>
         <a href="/login">Back</a> to Login
    </div>
</div>

{% endblock %}